* {
    margin: 0;
    padding: 0;
}
body{
    text-align: center;

}
nav {
    color: white;
    background-color: aqua;
    padding: 1.5rem 3rem;
    font-size: 3rem;
    margin: auto;
}
.container{
    display:flex;
    flex-direction: column;
    font-size: 2rem;
    width: 50%;
    align-items: center;
    margin: auto;
    padding: 1rem;
    
    
}
input{
    text-align: center;
}
.details{
    display:flex;
    flex-direction: column; 
    align-items: center;
    align-content: center;
    margin: 0.5rem;
}
.btn-check{
    margin: auto;
}
p{
    margin: 1rem;
    font-size: 1.3rem;
    text-align: center;
}
.extra{
    margin: 0.5rem;
}
button{
    padding: 0.8rem 0.8rem;
    background-color: aqua;
    color: white;
    font-weight: bold;
    font-size: large;
}
.change-table{
    background-color: aqua;
    color: white;
    border-collapse: collapse;
    margin: 1rem 0;
    margin-bottom: 8em;
}
caption{
    background-color: white;
    color: black;
}
.change-table td, th {
    border: 2px solid black;
    padding: 0.8rem;
}

.no-of-coins {
    background-color: aqua;
}
@media only screen and (max-width: 991px){
    table{
        font-size: 0.7rem;
    }
}
